name: Test Release Logic

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Desired tag'
        default: 'v9.9.9-test'
        required: true
      previous-tag:
        description: 'Previous tag'
        default: 'v0.10.0' # Make sure this exists in your fork history
        required: false

jobs:
  test-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24.x

    - name: Build Release Changelog
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PREVIOUS_TAG: ${{ inputs.previous-tag }}
        REPOSITORY: ${{ github.repository }}
      run: |
        chmod +x "${GITHUB_WORKSPACE}/.github/draft_release_notes.sh"
        "${GITHUB_WORKSPACE}/.github/draft_release_notes.sh"

        # MANUALLY inject data 
        echo "* #123 by @kaizakin: this is a test" >> Features.md
        echo "* #124 by @kaizakin: This is a fixes test" >> Fixes.md
        
        cat Features.md Fixes.md API.md Docs.md Misc.md > Changes.md

    - name: Draft release 
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git tag --list
        git branch --show-current
        git log -n 5
        if [ ! -f Changes.md ]; then
          echo "ERROR: Changes.md was not generated!"
          exit 1
        fi
        
        gh release create "${{ inputs.release }}" \
          --repo "${{ github.repository }}" \
          --title "${{ inputs.release }}" \
          --notes-file Changes.md \
          --draft \
          --prerelease